.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.link-type div{
    display: flex;
    flex-direction: column;
}

.social div:nth-child(1){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


